.main {
  display: flex;
  width: 100%;
  height: 110vh;
  overflow:hidden;
  margin: auto;
  zoom: 0.8;
  text-align: center;
  background-color: #add8e6;
}
.topbar {
  zoom: 0.8;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #add8e6;
}
.logo {
  width: 100%;
  height: "40%";
}
.topbarleft {
  width: 18%;
  height: auto;
}
.topbarright {
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}
.topbarright > div:nth-child(2) {
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.sideMenuAdmin {
  margin: 0px;
  width: 20%;
  flex-direction: column;
  align-items: center;
}
.sideMenuAdmin > p {
  width: 90%;
  padding: 5px;
  margin: 1px 5px;
  cursor: pointer;
}
.sideMenuAdmin > p:hover {
  width: 90%;
  padding: 5px;
  margin: 1px 5px;
  cursor: pointer;
}
.mainDash {
  height: 110vh;
  overflow: auto;
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  margin: 10px;
  padding: 20px;
}
.dashFlexItem {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
.cardBox {
  width: 25%;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardTitle {
  font-size: 18px;
  font-weight: 700;
}
.productAdd {
  width: 70%;
  margin: auto;
}
.productAdd > p {
  margin-left: 10%;
}
.productAdd > button {
  border-radius: 5px;
  background-color: rgb(68, 245, 68);
  color: rgb(17, 95, 1);
  /* font-size: 18px; */
  font-weight: 700;
  padding: 5px 10px;
}
.productAdd > input {
  border: 1px solid #dddfe2;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
}
.colorGreen {
  background-color: rgb(6, 185, 6);
  color: white;
}
.colorBlue {
  background-color: rgb(45, 45, 255);
  color: white;
}
.colorPink {
  background-color: rgb(250, 124, 145);
  color: white;
}
.datacharts {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.categoryBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.categoryCard {
  padding: 10px 5px;
  width: 20%;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  /* background-color:DarkMagenta; */
}
.categoryCard > p {
  text-align: center;
}
.showSubCat {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.productPageCss {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* .scrollShowSubCat{
    max-height: 500px;
    overflow-y: scroll;
} */
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
/* .yellow{background-color:yellow;} */
.pink {
  background-color: pink;
}
.aqua {
  background-color: aqua;
}
.Aquamarine {
  background-color: Aquamarine;
}
.Brown {
  background-color: Brown;
}
.Coral {
  background-color: Coral;
}
.DarkCyan {
  background-color: DarkCyan;
}
.DarkMagenta {
  background-color: DarkMagenta;
}
.DarkSalmon {
  background-color: DarkSalmon;
}
.DodgerBlue {
  background-color: DodgerBlue;
}
.GoldenRod {
  background-color: GoldenRod;
}
.IndianRed {
  background-color: IndianRed;
}
.MediumOrchid {
  background-color: MediumOrchid;
}
.MediumTurquoise {
  background-color: MediumTurquoise;
}
.Navy {
  background-color: Navy;
}
.Orange {
  background-color: Orange;
}
.Sienna {
  background-color: Sienna;
}

@media screen and (max-width: 768px) {
  .sideMenuAdmin {
    margin: 0px;
    width: 30%;
    min-height: 700px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sideMenuAdmin > p {
    width: 99%;
    padding: 5px;
    margin: 1px 5px;
    cursor: pointer;
    text-align: center;
  }
  .mainDash {
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .dashFlexItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .datacharts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cardBox {
    width: 50%;
    padding: 10px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .sideMenuAdmin {
    margin: 0px;
    width: 30%;
    min-height: 700px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sideMenuAdmin > p {
    width: 99%;
    padding: 5px;
    margin: 1px 5px;
    cursor: pointer;
    text-align: center;
  }
  .mainDash {
    width: 70%;
    margin: auto;
    /* margin: 0px; */
    margin-top: 20px;

    /* background-color: pink; */
  }
  .dashFlexItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .datacharts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cardBox {
    width: 50%;
    padding: 10px 5px;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topbar {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    zoom: 0.5;
  }
  .main {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .mainDash {
    width: 100%;
  }
  .topbarright {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 z0px;
  }
  .sideMenuAdmin {
    margin: 0px;
    width: 100%;
    min-height: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 0;
    border-radius: 20px;
    margin: 0px;
    justify-content: center;
  }
}
