.bodycare-products {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.bodycare-products > div {
  border: solid;
}
.bodycare-products > div > img {
  width: 100px;
  height: 300px;
}
